<div class="layui-form" lay-filter="feedback-form" id="feedback-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">意见反馈联系方式</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="feedback_phone" value="{{ d.params.feedback_phone || '' }}" lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">意见反馈内容</label>
        <div class="layui-input-inline" style="width: 500px;height: 200px;background-color:#FFFFFF;">
            <script type="text/html" template>
                <textarea name="feedback_content"  class="layui-textarea">
                    {{ d.params.feedback_content || '' }}
                </textarea>
            </script>
        </div>
    </div>

    <script type="text/html" template>
        <input type="hidden" name="feedback_id" value="{{ d.params.feedback_id || '' }}">
    </script>


    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="feedback-form-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>
<script>
    layui.use([ 'admin', 'form', 'upload' ], function() {
        var $ = layui.$, form = layui.form, upload = layui.upload;

        form.render();//使select可以显示option
        //-------------文件上传开始----------
        upload.render({
            elem : '#feedback-upload-feedback',
            url : '/words/s/feedback/upload',
            done : function(res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                console.log(res.data.src);
                document.getElementById("img_url").value = res.data.src;//
            }
        });
        //-------------文件上传结束----------
    })
</script>
