<div class="layui-form" lay-filter="highlight-form" id="highlight-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">专题标题</label>
        <div class="layui-input-inline">
            <select name="highlight_toptag_id" id="highlight_toptag_id">

            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">专题开场白</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <textarea name="highlight_content" style="width: 400px;" rows="10" cols="30"  lay-verify="required"
                          placeholder="请输入开场白" autocomplete="off" class="layui-textarea">
                        {{ d.params.highlight_content || '' }}
                </textarea>
            </script>
        </div>
    </div>

    <script type="text/html" template>
        <input type="hidden" name="highlight_id" value="{{ d.params.highlight_id || '' }}">
    </script>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="highlight-form-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>
<script>
    var toptagid;
    layui.use([ 'admin', 'form', 'upload' ], function() {
        var $ = layui.$, form = layui.form, upload = layui.upload;

        form.render();//使select可以显示option
        //-------------文件上传开始----------
        upload.render({
            elem : '#highlight-upload-highlight',
            url : '/words/s/highlight/upload',
            done : function(res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                console.log(res.data.src);
                document.getElementById("img_url").value = res.data.src;//
            }
        });
        //-------------文件上传结束----------
        $.get("/words/s/toptag/query", {},
            function (data) {
                var ssss=data.data;
                var $html = "";
                if (ssss != null) {
                    $.each(ssss,function (index, item) {
                        if(item.toptag_id==toptagid){
                            $html += "<option value='" + item.toptag_id + "' selected='selected'>" + item.toptag_name + "</option>";
                        }else {
                            $html += "<option value='" + item.toptag_id + "'>" + item.toptag_name + "</option>";
                        }
                    });
                    $('#highlight_toptag_id').append($html);
                    form.render("select");
                }
            });
    })
</script>
